<div class="h-screen relative">
    <div class="bg-jira-blue h-2/6 pt-8 pl-8 -z-10">
        <div class=" text-2xl font-semibold text-white">Koin Service Desk Portal</div>
    </div>

    <div class="absolute z-20 center-absolute lg:min-w-[481px] md:max-w-[481px]">
        <div class="bg-white pt-14 px-12 pb-20 mb-12 shadow-lg rounded">
            <div class=" text-2xl font-semibold mb-6">Koin Service Desk Portal</div>
            <div class=" text-lg font-semibold mb-6">Enter your email to log in or sign up</div>
            <div class=" text-secondary font-bold mb-2">Email address</div>
            <div class=" grid grid-flow-row content-stretch">
                <input type="text" id="email" class="border border-[#E1E1E1] font-semibold py-4 px-6 bg-input-field rounded mb-6" />
                <button class="primary-btn" [routerLink]="['/login-email-filled']">Next</button>
            </div>
        </div>
        <div class="flex justify-center">
            <img src="../../../assets/images/poweredbyjira.png" alt="">
        </div>
    </div>
</div>
