// Aventa 
@font-face {
    font-family: "Aventa";
    font-weight: 400;
    src: url("../src/assets/fonts/Aventa/Aventa-Regular.otf") format("OpenType");
  }
  
  @font-face {
    font-family: "Aventa";
    font-weight: 500;
    src: url("../src/assets/fonts/Aventa/Aventa-Medium.otf") format("OpenType");
  }
  
  @font-face {
    font-family: "Aventa";
    font-weight: 600;
    src: url("../src/assets/fonts/Aventa/Aventa-SemiBold.otf") format("OpenType");
  }
  
  @font-face {
    font-family: "Aventa";
    font-weight: 700;
    src: url("../src/assets/fonts/Aventa/Aventa-Bold.otf") format("OpenType");
  }
  
  @font-face {
    font-family: "Aventa";
    font-weight: 900;
    src: url("../src/assets/fonts/Aventa/Aventa-Black.otf") format("OpenType");
  }
  