<div class="h-screen login">
    <nav class="z-10">
        <div class="bg-primary pt-7 lg:pl-7 md:pl-4">
            <div class=" text-2xl font-semibold text-white">Koin Service Desk Portal</div>
        </div>
    </nav>

    <div class=" justify-center grid z-10 mt-28">
        <div class="card">
            <button class="back-btn lg:mb-10 md:mb-3" (click)="goBack()">
                <div class="flex items-center">
                    <div class=" mr-1"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.5 8.5H1.5" stroke="#0074E0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8.5 15.5L1.5 8.5L8.5 1.5" stroke="#0074E0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        </div>
                    <div>Back</div>
                </div>
            </button>
            <div class=" text-2xl font-semibold mb-6">Koin Service Desk Portal</div>
            <div class=" text-lg font-semibold mb-6">Enter your email to log in or sign up</div>
            <div class=" text-secondary font-bold mb-2">Email address</div>
            <div class=" grid grid-flow-row content-stretch">
                <input type="text" id="email" placeholder="emailexample@gmail.com" class=" py-4 px-6 bg-input-field rounded mb-6">
                <button class="primary-btn mb-6" [routerLink]="['/home']">Continue with Atlassian account</button>
                <div class="border-b border-[#E1E1E1] h-[1px] mb-6"></div>
            </div>
            <div class=" text-title font-extrabold text-sm mb-1">Your Atlassian account</div>
            <div class=" text-sm">Make things easier by using one account across all of your Atlassian products. <span class=" text-primary"><a href="">Learn more</a></span></div>
        </div>
        <div class="flex justify-center">
            <div class="text-[#959faf] text-sm mr-1">Powered by</div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 6 34 40" fill="none"><path d="M18.7379 19.3652L29.6659 19.4322C31.0659 19.4412 31.8589 21.0402 31.0189 22.1602L14.8909 43.6712C9.82089 39.8822 8.78189 32.7002 12.5709 27.6302L18.7379 19.3652Z" fill="url(#paint0_linear_818_526)"/><path d="M12.5619 27.63L1.69695 27.563C0.29795 27.554 -0.49505 25.958 0.34195 24.838L16.316 3.5C21.386 7.289 22.4249 14.471 18.636 19.541L12.5619 27.63Z" fill="#acb3c0"/><defs><linearGradient id="paint0_linear_818_526" x1="18.3052" y1="20.9799" x2="22.8997" y2="34.8695" gradientUnits="userSpaceOnUse"><stop stop-color="#9ea5b4"/><stop offset="1" stop-color="#a6aebb"/></linearGradient></defs></svg>
            </div>
            <div class="text-[#959faf] text-sm ml-1">Jira Service Management</div>
        </div>
    </div>
</div>